<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{{ url_for('static', filename = 'css/dash.css') }}" rel="stylesheet" />
    <title>Kydash Co</title>
    <!-- Agrega el favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/zyro.ico') }}" type="image/x-icon" />
    <link rel="icon" href="{{ url_for('static', filename = 'images/zyro.ico') }}" type="image/x-icon" />
</head>

<body>
    {% include 'util/sidebar.html' %}
    <!-- Main Content -->
    <div class="content">
        {% include 'util/nav.html' %}

        <main>
            <div class="header">
                <div class="left">
                    <h1>Novedades</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">
                                Novedad
                            </a></li>
                        /
                        <li><a href="#" class="active">Emulador</a></li>
                    </ul>
                </div>
                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Obtener Liquidaciones</span>
                </a>
            </div>

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Simulador Tradicional</h3>
                        <i class='bx bx-filter'></i>
                    </div>
                    <div class="dropdown">
                        <select name="anoTradiconal" id="anoTradiconal">
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                        </select>                        
                        <select name="mesTradiconal" id="mesTradiconal" onchange="mesTradicional()">
                            <option value="enero" style="display: none;">Enero</option>
                            <option value="febrero" style="display: none;">Febrero</option>
                            <option value="diciembre" style="display: none;">Diciembre</option>
                        </select>
                    </div>
                    <div id="formTradiconalDic2023">
                        <form action="{{ url_for('novedad_dic2023.procesar_archivos') }}" method="post" enctype="multipart/form-data">
                        <div class="flex flex-col items-center justify-center">
                            <label for="archivo_A" class="drop-container" id="dropcontainer">
                                <span>Suelta archivo aquí - Novedad Diciembre</span>
                                o
                                <input type="file" name="archivo_A" id="archivo_A" accept=".xlsx" required>
                            </label>
                            <label for="archivo_B" class="drop-container" id="dropcontainer">
                                <span>Suelta archivo aquí - Base Diciembre</span>
                                o
                                <input type="file" name="archivo_B" id="archivo_B" accept=".xlsx" required>
                            </label>
                            <div class="form-input">
                                <button class="search-btn" type="submit">
                                    <i class='bx bx-download'></i>
                                </button>
                            </div>                                                  
                        </div>
                        </form>
                    </div>
                    <div id="formTradiconalEnero">
                        <form action="{{ url_for('novedad_bp.procesar_archivos') }}" method="post" enctype="multipart/form-data">
                        <div class="flex flex-col items-center justify-center">
                            <label for="archivo_A" class="drop-container" id="dropcontainer">
                                <span>Suelta archivo aquí - Novedad Enero</span>
                                o
                                <input type="file" name="archivo_A" id="archivo_A" accept=".xlsx" required>
                            </label>
                            <label for="archivo_B" class="drop-container" id="dropcontainer">
                                <span>Suelta archivo aquí - Base Enero</span>
                                o
                                <input type="file" name="archivo_B" id="archivo_B" accept=".xlsx" required>
                            </label>
                            <div class="form-input">
                                <button class="search-btn" type="submit">
                                    <i class='bx bx-download'></i>
                                </button>
                            </div>                                                  
                        </div>
                        </form>
                    </div>
                    <div id="formTradiconalFebrero" style="display: none;">
                        <form action="{{ url_for('novedad_bp.procesar_archivos') }}" method="post" enctype="multipart/form-data">
                            <div class="flex flex-col items-center justify-center">
                            <label for="archivo_A" class="drop-container" id="dropcontainer">
                                <span>Suelta archivo aquí - Novedad Febrero</span>
                                o
                                <input type="file" name="archivo_A" id="archivo_A" accept=".xlsx" required>
                            </label>
                            <label for="archivo_B" class="drop-container" id="dropcontainer">
                                <span>Suelta archivo aquí - Base Febrero</span>
                                o
                                <input type="file" name="archivo_B" id="archivo_B" accept=".xlsx" required>
                            </label>
                            <div class="form-input">
                                <button class="search-btn" type="submit">
                                    <i class='bx bx-download'></i>
                                </button>
                            </div>                                                  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Simulador Pañaleras</h3>
                        <i class='bx bx-filter'></i>
                    </div>
                    <div class="dropdown">
                        <select name="mesPanalera" id="mesPanalera" onchange="mesPanalera()">
                            <option value="enero">Enero</option>
                            <option value="febrero">Febrero</option>
                        </select>
                    </div>
                    <div id="formPanaleroEnero">
                        <form action="{{ url_for('novedad_bp.procesar_archivos') }}" method="post" enctype="multipart/form-data">
                        <div class="flex flex-col items-center justify-center">
                            <label for="archivo_A" class="drop-container" id="dropcontainer">
                                <span>Suelta archivo aquí - Novedad Enero</span>
                                o
                                <input type="file" name="archivo_A" id="archivo_A" accept=".xlsx" required>
                            </label>
                            <label for="archivo_B" class="drop-container" id="dropcontainer">
                                <span>Suelta archivo aquí - Base Enero</span>
                                o
                                <input type="file" name="archivo_B" id="archivo_B" accept=".xlsx" required>
                            </label>
                            <div class="form-input">
                                <button class="search-btn" type="submit">
                                    <i class='bx bx-download'></i>
                                </button>
                            </div>                                                  
                        </div>
                        </form>
                    </div>
                    <div id="formPanaleroFebrero" style="display: none;">
                        <form action="{{ url_for('novedad_bp.procesar_archivos') }}" method="post" enctype="multipart/form-data">
                            <div class="flex flex-col items-center justify-center">
                            <label for="archivo_A" class="drop-container" id="dropcontainer">
                                <span>Suelta archivo aquí - Novedad Febrero</span>
                                o
                                <input type="file" name="archivo_A" id="archivo_A" accept=".xlsx" required>
                            </label>
                            <label for="archivo_B" class="drop-container" id="dropcontainer">
                                <span>Suelta archivo aquí - Base Febrero</span>
                                o
                                <input type="file" name="archivo_B" id="archivo_B" accept=".xlsx" required>
                            </label>
                            <div class="form-input">
                                <button class="search-btn" type="submit">
                                    <i class='bx bx-download'></i>
                                </button>
                            </div>                                                  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="{{ url_for('static', filename = 'js/dash.js') }}"></script>
</body>

</html>