@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/* Estilos para los mensajes flash */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.alert-error {
  background-color: #f44336;
  color: white;
}

.alert-success {
  background-color: #4caf50;
  color: white;
}

.alert {
  position: absolute;
  top: 0; /* Modificar la posición superior para alinear con el margen superior del contenedor */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 500px;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03a9f4;
    transition: 0.5s;
}

body.active
{
    background: #feaf0a;
}

.container
{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.blueBg
{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);
}

.blueBg .box
{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}

.blueBg .box h2
{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.blueBg .box button
{
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.formBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.formBx.active
{
    left: 50%;
}

.formBx .form
{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.formBx .signinForm
{
    transition-delay: 0.25s;
}

.formBx h3 {
  text-align: center; /* Centra el texto */
  font-size: 12px; /* Establece el tamaño de la fuente */
  color: #2c2c2c; /* Color del texto */
  margin-top: 10px; /* Espacio superior */
  cursor: pointer;
}

.formBx h3:hover {
    color: #2c2c2cc7; /* Color del texto al pasar el mouse */
  }

.formBx.active .signinForm
{
    left: -100%;
    transition-delay: 0s;
}

.formBx .signupForm
{
    left: 100%;
    transition-delay: 0s;
}

.formBx.active .signupForm
{
    left: 0;
    transition-delay: 0.25s;
}

.formBx .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.formBx .form form h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}

.formBx .form form .password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.formBx .form form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
    position: relative;
}

.formBx .form form #loginPasswordToggle {
    cursor: pointer;
    font-size: 25px;
    color: #555;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
}

.formBx .form form #loginPasswordToggle i {
    margin-right: 5px;
    margin-bottom: 17px;
}

.formBx .form form #loginPasswordToggle i:hover {
    color: #03a9f4;
}

.formBx .form form #registerPasswordToggle {
    cursor: pointer;
    font-size: 25px;
    color: #555;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
}

.formBx .form form #registerPasswordToggle i {
    margin-right: 5px;
    margin-bottom: 17px;
}

.formBx .form form #registerPasswordToggle i:hover {
    color: #03a9f4;
}

.formBx .form form #adminPasswordToggle {
    cursor: pointer;
    font-size: 25px;
    color: #555;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
}

.formBx .form form #adminPasswordToggle i {
    margin-right: 5px;
    margin-bottom: 17px;
}

.formBx .form form #adminPasswordToggle i:hover {
    color: #03a9f4;
}

/* Ajustar ícono de ocultar contraseña cuando se oculta */
.formBx .form form input[type="password"].hide-password {
    background-image: url('path/to/icon-hide.png');
}

@keyframes ripple {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.formBx .form form input[type="submit"] {
    border-radius: 36px;
    cursor: pointer;
    background: linear-gradient(45deg, #1976d2, #feaf0a, #1976d2, #feaf0a);
    background-size: 400% 400%;
    animation: ripple 10s linear infinite;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: background 0.5s ease;
}

.formBx.active .signupForm input[type="submit"]
{
    border-radius: 36px;
    cursor: pointer;
    background: linear-gradient(45deg, #feaf0a, #1976d2, #feaf0a, #1976d2);
    background-size: 400% 400%;
    animation: ripple 10s linear infinite;
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: background 0.5s ease;
}

.formBx .form form .forgot
{
    color: #333;
}

@keyframes scaleImage {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Aplica la animación solo cuando el mouse está sobre la imagen */
.container img:hover {
    animation: scaleImage 0.2s ease-in-out;
}

@media (max-width:991px)
{
    .container
    {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .blueBg
    {
        top: 0;
        height: 100%;
    }

    .formBx
    {
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }

    .blueBg .box
    {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }
    
    .box.signin
    {
        top: 0;
    }

    .formBx.active
    {
        left: 0;
        top: 150px;
    }
}