<!-- layout.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{{ url_for('static', filename = 'css/dash.css') }}" rel="stylesheet" />
</head>

<body>
    <a id="loader">
        <img src="{{ url_for('static', filename='images/zyro-image.png') }}" alt="Descripción de la imagen" />
    </a>

    <!-- Contenido específico de cada página se incluirá aquí -->
    {% block content %}{% endblock %}

    <!-- Scripts comunes pueden ir aquí -->
    <script>
        function showLoader() {
            document.getElementById("loader").style.display = "block";
        }

        function hideLoader() {
            document.getElementById("loader").style.display = "none";
        }

        document.addEventListener("DOMContentLoaded", function () {
            hideLoader();
        });

        document.addEventListener("click", function (event) {
            if (event.target.tagName === "A" && event.target.getAttribute("href") === "#") {
                event.preventDefault();
            } else if (event.target.tagName === "A" && event.target.getAttribute("href")) {
                showLoader();
            }
        });
    </script>
</body>

</html>