<!-- nav.html -->

<nav>
    <i class='bx bx-menu'></i>
    <form action="#">
        <div class="form-input">
        </div>
    </form>
    <input type="checkbox" id="theme-toggle" hidden>
    <label for="theme-toggle" class="theme-toggle"></label>
    <a href="{{ url_for('profile_bp.profile') }}" class="profile">
        <img src="{{ url_for('static', filename = 'images/profile.jpg') }}" alt="Descripción de la imagen" />
    </a>
    <a href="{{ url_for('auth_bp.logout') }}" class="logout">
        <i class='bx bx-log-out-circle'></i>
    </a>
</nav>
