<!-- nav.html -->

<nav>
    <i class='bx bx-menu'></i>
    <form action="#">
        <div class="form-input">
            <input type="search" placeholder="Buscar...">
            <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
        </div>
    </form>
    <input type="checkbox" id="theme-toggle" hidden>
    <label for="theme-toggle" class="theme-toggle"></label>
    <a href="{{ url_for('profile') }}" class="profile">
        <img src="{{ url_for('static', filename = 'images/profile.jpg') }}" alt="Descripción de la imagen" />
    </a>
</nav>
