<!-- sidebar.html -->

<style>
    .logo img {
        transition: transform 0.3s ease-in-out;
    }

    .logo:hover img {
        transform: rotate(180deg);
    }

    .rotate-on-load img {
        transform: rotate(180deg); /* You can adjust the rotation degree as needed */
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        if (!sessionStorage.getItem('logoAnimated')) {
            $('.logo img').addClass('rotate-on-load');
            sessionStorage.setItem('logoAnimated', true);
        }
    });
</script>


<div class="sidebar">
    <a href="{{ url_for('dashboard') }}" class="logo">
        <img src="{{ url_for('static', filename='images/zyro-image.png') }}" alt="Descripción de la imagen" />
    </a>
    <ul class="side-menu">
        <li {% if request.endpoint == 'dashboard' %}class="active"{% endif %}>
            <a href="{{ url_for('dashboard') }}"><i class='bx bxs-dashboard'></i>Dashboard</a>
        </li>
        <li {% if request.endpoint == 'novedad_bp.novedades' %}class="active"{% endif %}>
            <a href="{{ url_for('novedad_bp.novedades') }}"><i class='bx bx-analyse'></i>Novedades</a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="{{ url_for('logout') }}" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Cerrar Sesión
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="https://github.com/jadfost" class="copyrigh">
                <i class='bx bx-copyright'></i>
                JadFost
            </a>
        </li>
    </ul>
</div>
