<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{{ url_for('static', filename = 'css/dash.css') }}" rel="stylesheet" />
    <title>Kydash Co</title>
    <!-- Agrega el favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/zyro.ico') }}" type="image/x-icon" />
    <link rel="icon" href="{{ url_for('static', filename = 'images/zyro.ico') }}" type="image/x-icon" />
</head>

<body>
    {% include 'util/layout.html' %}

    {% block content %}

    {% include 'util/sidebar.html' %}

    <!-- Main Content -->
    <div class="content">
        {% include 'util/nav.html' %}

        <main>
            <div class="header">
                <div class="left">
                    <h1>Liquidacion</h1>
                </div>
                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Descargar Informe</span>
                </a>
            </div>

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-filter'></i>
                        <h3>Filtros</h3>
                    </div>
                    <div class="dropdown">
                        <select name="canal">
                            <option value="tradicional1">Tradicional</option>
                            <option value="panaleras1">Pañaleras</option>
                        </select>
                        <select name="anocanal" id="anocanal">
                            {% for ano in anos %}
                            <option value="{{ ano }}">{{ ano }}</option>
                            {% endfor %}
                        </select>
                        <select name="mescanal" id="mescanal">
                            {% for mes in meses %}
                            <option value="{{ mes }}">{{ mes }}</option>
                            {% endfor %}
                        </select>
                        <select name="medicioncanal" id="medicioncanal">
                            {% for canal in canales_medicion %}
                            <option value="{{ canal }}">{{ canal }}</option>
                            {% endfor %}
                        </select>
                        <button id="applyFiltersBtn">Filtrar</button>
                    </div>
                </div>
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Buscar</h3>
                    </div>
                    <div class="dropdown">
                        <select name="ejecutivo" id="ejecutivo">
                            {% for ejecutivo in ejecutivos %}
                            <option value="{{ ejecutivo }}">{{ ejecutivo }}</option>
                            {% endfor %}
                        </select>
                        <input type="search" placeholder="Buscar...">
                        <button id="clearFiltersBtn">Limpiar Filtros</button>
                    </div>
                </div>
            </div>

            <!-- Insights -->
            <ul class="insights">
                <li>
                    <i class='bx bx-calendar-check'></i>
                    <span class="info">
                        <h3>
                            <h3>{{ '{:,.0f}'.format(total_cuotas) }}</h3>
                        </h3>
                        <p>Total Cuotas Ventas</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-dollar-circle'></i>
                    <span class="info">
                        <h3>
                            <h3>{{ '{:,.0f}'.format(total_resultados) }}</h3>
                        </h3>
                        <p>Resultados Ventas</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-line-chart'></i>
                    <span class="info">
                        <h3>
                            <h3>{{ '{:,.0f}'.format(total_banderines) }}</h3>
                        </h3>
                        <p>Total Banderines</p>
                    </span>
                </li>
            </ul>
            <!-- End of Insights -->

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>Participantes</h3>
                        <i class='bx bx-search'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombres de Participante</th>
                                <th>Cuota Venta Total</th>
                                <th>Resultado Venta Total</th>
                                <th>Total Banderines</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for participante in participantes %}
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename='images/profile.jpg') }}">
                                    {{ participante['NOMBRES Y APELLIDOS PARTICIPANTE'] }}
                                </td>
                                <td>{{ '{:,.0f}'.format(participante['CUOTA VENTA TOTAL']|float) }}</td>
                                <td>{{ '{:,.0f}'.format(participante['RESULTADOS VENTA TOTAL']|float) }}</td>
                                <td>{{ '{:,.0f}'.format(participante['TOTAL BANDERINES']|float) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
    {% endblock %}

    <script src="{{ url_for('static', filename = 'js/liquidacion.js') }}"></script>
</body>

</html>