<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{{ url_for('static', filename = 'css/dash.css') }}" rel="stylesheet" />
    <title>Kydash Co</title>
    <!-- Agrega el favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/zyro.ico') }}" type="image/x-icon" />
    <link rel="icon" href="{{ url_for('static', filename = 'images/zyro.ico') }}" type="image/x-icon" />
</head>

<body>
    {% include 'util/layout.html' %}

    {% block content %}

    {% include 'util/sidebar.html' %}

    <!-- Main Content -->
    <div class="content">
        {% include 'util/nav.html' %}

        <main>
            <div class="header">
                <div class="left">
                    <h1>Mi Perfil</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        /
                        <li><a href="#" class="active">Mi Perfil</a></li>
                    </ul>
                </div>
                <a href="{{ url_for('auth_bp.logout') }}" class="logout">
                    <i class='bx bx-exit'></i>
                    <span>Cerrar Sesion</span>
                </a>
            </div>

            <!-- Insights -->
            <ul class="insights">
                <li>
                    <a class="profile">
                        <img class="coin" src="{{ url_for('static', filename = 'images/profile.jpg') }}">
                    </a>
                    <span class="info">
                        <h3>
                            <p>{{ user.name }} {{ user.lastname }}</p>
                        </h3>
                        <p>Usuario: {{ user.username }}</p>
                        <p>E-mail: {{ user.email }}</p>
                        <p>Rol: {{ user.rol }}</p>
                        <a class="status">
                            <span>Activo</span>
                        </a>
                    </span>
                </li>
            </ul>
            <!-- End of Insights -->

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-edit'></i>
                        <h3>Editar Mi Perfil</h3>
                        <i class='bx bx-filter'></i>
                    </div>
                    <div class="dropdown">
                        <form method="POST" action="{{ url_for('profile_bp.edit_profile') }}">
                            <div class="form-search">
                                <label for="new_name">Nuevo Nombre:</label>
                                <input type="text" name="new_name" id="new_name" value="{{ user.name }}">

                                <label for="new_lastname">Nuevo Apellido:</label>
                                <input type="text" name="new_lastname" id="new_lastname" value="{{ user.lastname }}">
                            </div>

                            <div class="form-search">
                                <label for="new_email">Nuevo E-Mail:</label>
                                <input type="email" name="new_email" id="new_email" value="{{ user.email }}">

                                <button class="search-btn" type="submit"><i class='bx bx-save'></i>Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {% endblock %}
    <script src="{{ url_for('static', filename = 'js/dash.js') }}"></script>
</body>

</html>